@model NewDetailVM

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">

                    <h1>@Model.SingleNews.Title</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- single article section -->
<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <div>
                            <img width="500" src="@Model.SingleNews.PhotoUrl" />
                        </div>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> @Model.SingleNews.MyUser.UserName</span>
                            <span class="date"><i class="fas fa-calendar"></i> @Model.SingleNews.PublishDate.ToString(" dd MMMM yyyy")</span>
                            <span class="author"><i class="fa-solid fa-eye"></i>@Model.SingleNews.Views </span>
                        </p>
                        <h2>@Model.SingleNews.Title</h2>
                        <p>@Model.SingleNews.NewsText</p>
                    </div>


                    @{
                        var count = 0;
                    }

                    <div class="comments-list-wrap">
                        <h3 class="comment-count-title">@ViewBag.Comments Comments</h3>

                        @foreach (var comment in Model.Comments)

                        {
                            count++;
                            <div class="comment-list">


                                <div class="single-comment-body">
                                    <div class="comment-user-avater">
                                        <img src="https://www.interlinecenter.com/wp-content/uploads/2016/10/dummy-user-img.png" alt="">
                                    </div>
                                    <div class="comment-text-body">
                                        <h4>@comment.Name <span class="comment-date">@comment.CreatedDate.ToString(" dd MMMM yyyy")</span> </h4>
                                        <p>

                                            @comment.CommentText
                                        </p>
                                    </div>

                                </div>

                            </div>
                        }
                        @if (count == 0)
                        {
                            <h6>Be first to write comment</h6>
                        }

                    </div>

                    <div class="comment-template">
                        <h4>Leave a comment</h4>
                      
                        <form id="commentForm" asp-action="AddBlogComment" class="form-wrapper">
                                    <input name="NewsId" type="hidden" value="@Model.SingleNews.Id" />
                                    <input asp-for="Comment.Name" type="text" class="form-control" placeholder="Your name">
                                    <input asp-for="Comment.Email" type="text" class="form-control" placeholder="Email address">
                                    
                                    <textarea id="comment" cols="30" rows="10" asp-for="Comment.CommentText" class="form-control" placeholder="Your comment"></textarea>
                                    <button id="submitButton" type="submit" class="btn btn-primary">Submit Comment</button>
                                </form>
                   
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-section">
                    <h4>Latest Posts</h4>
                    @foreach (var item in @Model.SameNew)
                    {
                        <div class="recent-posts">
                            <div style="min-height:600px;" class="single-latest-news">
                                <a href="/news/details/@item.Id"><img style="min-height: 460px; width: 100%; object-fit:cover;" src="@item.PhotoUrl" /></a>
                                <div class="news-text-box">
                                    <h3><a href="/news/details/@item.Id">@item.Title</a></h3>
                                    <p class="blog-meta">
                                        <span class="author"><i class="fas fa-user"></i> @item.MyUser.UserName</span>
                                        <span class="date"><i class="fas fa-calendar"></i> @item.PublishDate.ToString(" dd MMMM yyyy")</span>
                                        <span class="author"><i class="fa-solid fa-eye"></i>@item.Views </span>
                                    </p>
                                    <p class="excerpt">@item.NewsText.Substring(0,70)...</p>
                                    <a href="/news/details/@item.Id" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>

                    }



                    <div class="archive-posts">
                        <h4>Archive Posts</h4>
                        <ul>
                            <li><a href="single-news.html">JAN 2019 (5)</a></li>
                            <li><a href="single-news.html">FEB 2019 (3)</a></li>
                            <li><a href="single-news.html">MAY 2019 (4)</a></li>
                            <li><a href="single-news.html">SEP 2019 (4)</a></li>
                            <li><a href="single-news.html">DEC 2019 (3)</a></li>
                        </ul>
                    </div>
                    <div class="tag-section">
                        <h4>Tags</h4>
                        <ul>
                            <li><a href="single-news.html">Apple</a></li>
                            <li><a href="single-news.html">Strawberry</a></li>
                            <li><a href="single-news.html">BErry</a></li>
                            <li><a href="single-news.html">Orange</a></li>
                            <li><a href="single-news.html">Lemon</a></li>
                            <li><a href="single-news.html">Banana</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single article section -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->

@section Scripts{
<script type = "text/javascript">

    var form = document.getElementById("commentForm");
    var button = document.getElementById("submitButton");
  
    button.addEventListener('click', function(e){
        e.preventDefault()
          var data = $("#commentForm").serialize();

        $.ajax({
            type: "POST",
            url : "@Url.Action("AddBlogComment")",
            data: data,
            dataType : "json",
            success: function(msg){
                console.log(msg);
            },
            error: function(req, status, error){
                alert("Error")
            }

        });

    })


</script>
}