@{
    ViewData["Title"] = "Home Page";
}
@model AllNewsVM

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Organic Information</p>
                    <h1>News Article</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- latest news -->
<div class="latest-news mt-150 mb-150">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.News)
            {
                <div class="col-lg-4 col-md-6">
                    <div style = "min-height:600px;" class="single-latest-news">
                        <a href="/news/details/@item.Id"><img style="min-height: 460px; width: 100%; object-fit:cover;" src="@item.PhotoUrl" /></a>
                        <div class="news-text-box">
                            <h3><a href="/news/details/@item.Id">@item.Title</a></h3>
                            <p class="blog-meta">
                                <span class="author"><i class="fas fa-user"></i> @item.MyUser.UserName</span>
                                <span class="date"><i class="fas fa-calendar"></i> @item.PublishDate.ToString(" dd MMMM yyyy")</span>
                                <span class="author"><i class="fa-solid fa-eye"></i>@item.Views </span>
                            </p>
                            <p class="excerpt">@item.NewsText.Substring(0,70)...</p>
                            <a href="/news/details/@item.Id" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            }


        </div>


    </div>
    <div class="row">
        <div class="col-lg-12 text-center">






            <div class="pagination-wrap">
                <ul>

                    <li>
                        <a asp-route-pageNo="@(Model.Pager.CurrentPage-1)">Prev</a>
                    </li>

                    @for (var i = Model.Pager.StartPage; i < Model.Pager.TotalPages; i++)
                    {
                        <li><a asp-route-pageNo="@i">@i</a></li>


                    }

                    <li class="page-item">
                        <a asp-route-pageNo="@(Model.Pager.CurrentPage+1)">Next</a>
                    </li>
                </ul>
            </div>





        </div>
    </div>
</div>
<!-- end latest news -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->