@using Entities
@model Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFeatured" /> @Html.DisplayNameFor(model => model.IsFeatured)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Available" /> @Html.DisplayNameFor(model => model.Available)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="isDiscount" class="control-label"></label>
                <input asp-for="isDiscount" class="form-control" />
                <span asp-validation-for="isDiscount" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <select asp-for="CategoryId" class="form-control mb-2">
                    @foreach (var cat in ViewBag.CategoryList as List<Category>)
                    {
                        <option value="@cat.Id"> @cat.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        <div class = "col-md-4">
              <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input type="file" asp-for="PhotoUrl" class="form-control" name="Image" />
                <input type="hidden" name="OldPhoto" value="@Model.PhotoUrl" />
                <img width="300" src="@Model.PhotoUrl" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
        </div>
    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

