@using Entities
@{
    ViewData["Title"] = "Home Page";
  
}

@model ProductVM

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @foreach (var item in Model.Categories)
                        {
                            <li data-filter=".@item.Name">@item.Name</li>



                        }

                        <li data-filter=".@Model.Countdown.Product.Name">Sale</li>


                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">

            
                   @foreach (var item in Model.Products)
            {
                <div class="col-lg-4 col-md-6 text-center @item.Category.Name">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="/product/details/@item.Id"><img src="@item.PhotoUrl" alt=""></a>
                        </div>
                        <h3>@item.Name</h3>
                        <p class="product-price"><span>Per Kg</span> @item.Price AZN </p>
                        <a pro-id="@item.Id" href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>



            }

            <div class="col-lg-4 col-md-6 text-center @Model.Countdown.Product.Name">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="/product/details/@Model.Countdown.Product.Id"><img src="@Model.Countdown.Product.PhotoUrl" alt=""></a>
                    </div>
                    <h3>@Model.Countdown.Product.Name</h3>
                    <div class="inner-price">
                        <span class="price">
                            <strong>SALE</strong> <br>
                        </span>
                    </div>


                    <p style="display: inline;" class="product-price">
                        <span>Per Kg</span> <del>
                            @Model.Countdown.Product.Price
                        </del>
                    <p style=" display:inline; color: #f28123; font-size: 30px; margin-left: 10px;
                     font-weight: 700;">@Model.Countdown.Product.Discount</p> AZN
                    </p>
                    <a pro-id="@Model.Countdown.Product.Id" href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>

                </div>

            
         
         




        </div>



    </div>


</div>
</div>
<!-- end products -->
@*	value = "@(salePro.Id == @item.Id ? "": null)"*@

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->

